body{
    margin-left:20px;
    margin-right: 20px;
}
.title{
    background-color:blue;
    color:white;
    text-align:center;
    font-size : 20px;
    padding:10px;
    margin-bottom:15px;
}

.item_title{
    color:white;
    background-color:green;
    vertical-align: middle;
    height:30px;        
    line-height: 30px; 
    vertical-align: middle; 
}

.item_list{
    background-color : red;
    height:1010px;
    text-align: center;
}

.item_list_left{
    float:left;
    width:30%; 
    height:1000px;
    overflow:auto; 
    
}

.item_list_right{
    float:right;
    width:70%;
    height:600px;   
    
}

.item{
    border : 3px dotted black;
}

.item:hover{
    border : 3px solid black;
}

.bungkus-kanan{
    flex-flow:row wrap;
    justify-content: space-between;
    display:flex;
    align-items:flex-start;
    height:1000px;  
    margin-top:20px;
    
}

.bungkus-kiri{
    margin-top:20px;
    margin-left:15px;
    display:grid;
    width:150px;
    height:300px;
    grid-template-columns: auto auto;
    grid-gap:2em 2em;
}

#mobil{
    background-color:white;
    position:relative;
    animation-duration:7s;
    animation-name:car;
    animation-iteration-count: infinite;
}

@keyframes car{
    0%   {left:0px; top:0px;}
    50%  {left:92%; top:0px;transform:rotateY(180deg);}
    100% {left:0px; top:0px;}
}


