body{
    margin:0 auto;
}
.bungkus{
    padding : 15px;
    margin :0 auto;
    background-color : lightgray;
    height:400px;
    width:100%;
}

.input_chat{
    width: 1306px;
    height:192px;
}

.input_nama{
    width: 1306px;
}

#send{
    margin-top : 10px;
    width:100px;
    height:30px;
}

.bawah{
    margin-left: 20px;
}

.box_chat{
    width:1306px;
    border : 1px black dotted;
}

.nama_chat{
    text-decoration: underline;
}

.tempat_chat{
    height:0px;
    overflow : none;
}
.tempat_chat_scroll{
    height:300px;
    overflow : scroll;
}