body{
    margin : 0 auto;
}
.bungkus{
    margin :0 auto;
}

.head{
    background-color : white;
    height:100px;
    width:100%;
}

nav{
    border-bottom : 3px solid black;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	padding: 8px 10px;
}

ul{
    float:right;
    margin-top : 30px;
	display: flex;
	align-items: center;
}

li{
    text-transform : uppercase;
    font-size :18px;
    list-style:none;
	margin: 0 20px;
}

li>a{
    text-decoration:none;
	color: rgb(65, 61, 61);
}

li>a:hover{
    color :lightcoral;
}

.bungkus_hero{
    background-color:gainsboro;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.karakter{
    text-align : center;
    height:auto;
    width:100%;
}

.hero{
    display:inline-block;
    margin : 20px;
    border : 1px solid black;
    padding : 5px 10px;
}
.hero-coc{
    width:300px;
    height:300px;
}

.hero:hover{
    background-color :white;
    border : 3px solid grey;
}

.footer{
    /* background-image : url("foot_logo.png"); */
    margin-bottom:30px;
    
    
}

.isi{
    text-align : center;
    font-size : 20px;  
}

nav .icon{
    display: none;
}

@media screen and (max-width: 800px) {
    nav li:not(:last-child){display: none;}
    nav .logo{
        display:block;
    }
    nav li.icon {
      float:right;
      display: block;
    }
  }
  
 