body{
    margin : 0 auto;
}

.bungkus{
    margin : 0 auto;
}

.judul{
    text-align: center;
    margin-top : 20px;
}
.boxchat{
    margin : 10px;
    display: flex;
}

.chatkiri{
    border : 1px dotted black;
    width:49.5%;
    margin:0;
    height:350px;
    float:left;
    
}

.chatkanan{
    border : 1px dotted black;
    width:49.5%;
    margin:0;
    height:350px;
    float:right;
}

.isi{
    margin : 10px;
    height : 90%;
}

.textbox{
    margin : 10 0px;
    width:90%;
}

.textarea{
    margin : 10 0px;
    width:90%;
    height:170px;   
}

.tombol{
    margin : 10 0px;
}

.tempat_chat{
    width :100%;
    height:0px;
    overflow : none;
}
.tempat_chat_scroll{
    height:300px;
    overflow : scroll;
}

.tempat_chat{
    overflow : none;
}

.bawah{
    margin : 10px;
    font-size : 13px;
}

.kotak_chat_kiri{
    background-color : aqua;
    height : 50px;
    border : 1px solid black;
    margin-bottom : 10px;
    text-align: left;
    padding : 0 5px;
}

.kotak_chat_kanan{
    background-color : lightblue;
    height : 50px;
    border : 1px solid black;
    margin-bottom : 10px;
    text-align: right;
    padding : 0 5px;
    color : blue;
}

.nama{
    text-decoration: underline;
    font-size : 14px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.kotak_chat_kanan:hover,
.kotak_chat_kiri:hover{
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}