body{
    margin-left:20px;
    margin-right: 20px;
}
.title{
    background-color:navy;
    color:white;
    text-align:center;
    font-size : 20px;
    padding:10px;
    margin-bottom:15px;
}

.category{
    display: inline;
    text-align:center;
    background-color:navy;
    color:white;
    padding:7px;
    margin-right:5px;
    
}

.item_title{
    margin-top:10px;
    color:navy;
    font-weight: bold;
}

.item_list{
    background-color : lightblue;
    margin-top:15px;
    text-align:center;
    padding:10px;
    height:400px;
}

.item_list_left{
    float:left;
    width:29%;
    border:2px solid gray;  
    height:400px;
    overflow:auto; 
}

.item_list_right{
    float:right;
    width:70%;
    height:400px;
    border:2px solid gray;   
    overflow:auto;
}

.item{
    background-color:white;
    width:150px;
    height:150px;
    margin:7px;
    padding:7px;
}