.bungkus{
    border: 3px solid black;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin : 0 auto;
    background-color : blanchedalmond;
}
.tombol{
    width:70px;
    height:50px;
    color: black;
    font-weight:bold;
    font-size : 18px;
    margin-bottom:5px;
}

.tombol_{
    width:300px;
    height:50px;
    color: black;
    font-weight:bold;
    font-size : 18px;
}

.tombol:active{
    background-color : lightgray;
}

.tampil{
    width:300px;
    height:50px;
    background-color:whitesmoke;
    border : 2px solid black;
    margin-bottom : 10px;
    margin-left : auto;
    margin-right: auto;
    font-size : 25px;
    font-weight: bold;
    text-align: right;
    position: relative;
}

.layar{
    position: absolute;
    right:10px;
    bottom:0;
}