.tombol{
    background-color : skyblue;
    border : 1px solid black;
    width : 300px;
    height: 70px;
    font-size: 15px;
    margin-bottom : 20px;
}

.tombol:hover{
    border : 3px solid black;
}

.tombolbaru{
    background-color : lightgray;
    border : 1px solid black;
    width : 300px;
    height: 70px;
    font-size: 15px;
    margin-bottom : 20px;
}

.tombolbaru:hover{
    border : 3px solid black;
}
